.header
  &-topbar
    padding: 10px 0 10px
    background-color: $greyBackground
    border-bottom: 1px solid rgba(0, 0, 0, 0.05)
    &__wraper
      display: flex
      align-items: center
      justify-content: space-between
    &__icon
      width: 25px
      height: 35px
